
*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
.logo{
   
    height: 2.2rem;
}

  
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: beige;
    height: 9.6rem;
    padding: 0 4.8rem;
}


body{
    font-family: "Alata", sans-serif;
    line-height: 1;
    font-weight: 400;
    color:#555;
 
}

.container{
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 3.2rem;
}

.grid{
    display: grid;
   row-gap: 9.6rem;
   column-gap: 6.4rem;
    

}
.grid--2--cols{
    grid-template-columns: 1fr 1fr;
}

.grid--3--cols{
    grid-template-columns: 1fr 1fr 1fr;
}

.grid--4--cols{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid--5--cols{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grid--center-v{
    align-items: center;
}


.section-hero{

    background-color: beige;
    padding: 4.8rem 0  9.6rem 0rem;
}
.hero{
   max-width: 1300px;
   margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9.6rem;
    align-items: center;
    padding: 0 3.2rem;
    
}
.hero-img{
    width: 100%;
    
}

.heading-primary,
.heading-secondary{
   font-weight: 700;
   color: #333;
   letter-spacing: -0.5px; 
}


.heading-primary{
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.05;
    color:#333;
    font-family: "Poppins", sans-serif;
    letter-spacing: -0.5px;
    margin-bottom: 3.2rem;
}

.heading-secondary{
    font-size: 4.4rem;
    line-height: 1.2;
    margin-bottom: 9.6rem; 
}
.heading-tertiary{
    font-size: 3em;
    line-height: 1.2;
    margin-bottom: 3.2rem;
}


.subheading{
    display: block;
    font-size: 1.6rem;
    font-weight: 900;
    color:orange;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    letter-spacing: 0.75px;

}

.hero-description{
    font-size:2rem;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 4.8rem;
}

.btn,
.btn:link,
.btn:visited{
    display: inline-block;
   transition: all 1s;
    text-decoration: none;
    font-size: 2rem;
    padding: 1.6rem 3.2rem;
    border-radius: 8px;

    border: none;
    cursor: pointer;
    font-family: inherit;
}
.btn--full:link, .btn--full:visited{
    background-color: orange;
    color: #fff;
    
}
.btn--full:hover, .btn--full:active{
    background-color: orangered;
   
}

.btn--outline:link, .btn--outline:visited{
    background-color: white;
    color: #555;

}
.btn--outline:hover, .btn--outline:active{
    background-color: #fdf2e9;
    box-shadow: inset 0 0 0 3px white;

}
.margin-right-sm{
    margin-right: 1.6rem  !important;

}

.margin-bottom-md{
    margin-bottom: 4.8rem !important;

}
.delivered-meals{
    display: flex;
    margin-top: 8rem;
    align-items: center;
    gap: 1.6rem;
}
.delivered-imgs{
    display: flex;
   
   

}
.delivered-imgs img{
    display: flex;
    height:6rem;
    width: 6rem;
    border-radius: 50%;
    margin-right: -1.6rem;
    border: 4px solid  #fdf2e9;
}
.delivered-text{
    font-size: 1.8rem;
    font-weight: 600;
    margin-left: 2rem;
    margin-top:1.5rem;
}  
.delivered-text span{
    color: orange;
    font-weight: 700;
}
.main-nav{
    justify-content: space-evenly;
}

.item-list {
    display: flex;
    list-style: none;
    gap: 3.2rem;
    text-decoration: none;
    margin-left: 2rem;
    margin-right: 2rem;
    align-items: center;

}
.main-nav-list{
    text-decoration: none;
    display: inline-block;
   
    font-size: 1.8rem;
    font-weight: 600;
    color: black;
    transition: all 0.3s;
}
.main-nav-list:hover{
   
   
    color: orange;
}
.main-nav-list.nav-cta{
    padding: 1.2rem 2.4rem;
    color: white;
    background-color: orange;
    border-radius: 9px;

}


.section-how {
    padding: 9.6rem 0;
    
}



.step-number{
    font-size: 8.6rem; 
    font-weight: 600;
    color: #ddd;
}
.step-img-box{
    position: relative;
    display: flex;   /*flex items are automatically set to align-itens stretch*/
    align-items: center;
    justify-content: center;
    

}
.step-img-box::before,
.step-img-box::after{
    content:"";
    display: block;
  
   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50% );
    border-radius: 50%;
    
}
.step-img-box::before{
    width: 60%;
    padding-bottom: 60%;
    background-color: #fdf2e9;
    z-index: -2;
}
.step-img-box::after{
    width: 45%;
    padding-bottom: 45%;
    background-color: #fae5d3;
    z-index: -1

}
.step-img{
    width: 35%;    /*50% of step img box*/
}
.step-description{
     font-size: 1.8rem;
     line-height: 1.8;
    
}
.section-featued{
    padding: 3rem;
}
.featured-text{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.75px;
    color: #888;
}
.featured-img{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    margin-top: 2rem;

}
.featured-img img{
    height: 3.2rem;
    filter: brightness(0);
    opacity: 70%;
    
    
}
.meal{
    border-radius: 11px;
    transition: all 0.4s;
    overflow: hidden;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    
}
.meal:hover{
    transform: translateY(-1.2rem)
}
.meal-content{
    padding:  3.2rem 4.8rem 4.8rem 4.8rem;
    
}



/*MEALS-SECTION*/
.section-meals{
    padding: 9.6rem 0;
}
.meal-title{
    font-size:2rem;
    color: #333;
    font-weight: 600;
    margin-bottom: 3.2rem;
}

.meal-attributes{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.meal-attribute {
    font-size: 1.8rem;
    display: flex ;
    align-items: center;
    gap: 1rem;
    
}
.meal-attribute span{
    margin-left: 1rem;
}

.icon{
    color: orange;
    height: 3rem;
    width: 3rem;
}

.meal-img{
    width: 100%;
}
.tag{
    display: inline-block;
    background-color: #51cf66;
    padding: 0.5rem;
    font-size:1.2rem;
    border-radius: 3rem;
    margin-bottom: 1rem;
    font-weight: 700;
    color: black;
}
.tag-1{
    display: inline-block;
    background-color: #ffd43b;
    padding: 0.5rem;
    font-size:1.2rem;
    border-radius: 3rem;
    margin-bottom: 1rem;
    font-weight: 700;
    color: black;
}
.list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
   
}

.list-item{
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.list-icon{
    width: 3rem;
    height: 3rem;
    color: orange;
}

.all-recipes{
    text-align: center;
    font-size: 1.8rem;
    
}
.link:visited,
.link:link{
    color: orange;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
}

.center-text{
    text-align: center;
}



.section-testiomonials{  
   background-color: #fdf2e9;
   display: grid;
   grid-template-columns: 55fr 44fr;
   align-items: center;
}

.testimonial-container{
    padding: 9.6rem;
}
.testimonials{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    row-gap: 4.8rem;
    column-gap: 8rem;
   
}
.testimonial-img{
    width: 6.4rem;
    border-radius: 50%;
}
.testimonial-text{
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 1.6rem;
}
.testimonial-name{
    font-size: 1.6rem;
    color: #777;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.6rem;
    padding: 1.6rem;
   
}
.gallery-item img{
    display: block;
    width: 100%;
    transition: all 0.4s;
}

.gallery-item img:hover{
    transform: scale(1.1);
}

.section-pricing{
    padding: 9.6rem 0;
}
.plan-header{
    text-align: center;
    margin-bottom: 4.8rem;
}
.plan-name{
    color: orange;
    font-weight: 600;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 0.75;
    margin-bottom: 3.2rem;
}

.plan-price span{
    font-size: 3rem;
    font-weight: 500; 
    margin-right: 0.8rem;
}

.plan-price{
    font-size: 7.4rem;
    font-weight: 600;
    color: #333;
}

.plan-text{
    font-size: 1.8rem;
    line-height: 1.8;
    color: #6f6f6f;
}
.plan-sing-up{
    text-align: center;
    margin-top: 4.8rem;
}
.Pricing-plan{
    
    border-radius: 11px;
    padding: 4.8rem;
    width: 50%;
}
.Pricing-plan--starter{
    justify-self: end;
    border: 2px solid beige;
    padding: 4.6rem;
}
.Pricing-plan--complete{
    background-color: beige;
    
}
.list-icon{
    scale: 1.3;
}

.circle{
    margin-top: 15rem;
    border-radius: 50%;
    background-color: beige;
    padding: 1.5rem;

}
.feature-tittle{
    margin-top: 4rem;
    color: black;

}
.feature-text{
    font-size: 2rem;
    color: #555;
}
.feature-3{
    margin-right: 3rem;
}

.section-cta{
    padding: 9.6rem 0;
   
}

.cta{
    display: grid;
    overflow: hidden;
    grid-template-columns: 2fr 1fr;
    background-color: orange;
   box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    height: 50rem;
    border-radius: 11px;
    background-image: linear-gradient(to right bottom, #eb984e,#e67e22);
}


.cta-img-box{
    background-image: linear-gradient(
        to right bottom,
        rgba(235,151,78,0.35),
         rgba(230,125,34,0.35)
    ),
        url("img/eating.jpg");
        background-size: cover;
        background-position: center;
}

.cta-text-box{
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
    color: #45260a;
}

.cta .heading-secondary{
    color: #45260a;
    margin-bottom: 3.2rem;   
}

.cta-text{
    font-size: 1.8rem;
    line-height: 1.8;
   margin-bottom: 4.8rem;
}

.cta-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.2rem;
    row-gap: 2.4rem;
}

.cta-form label{
    display: grid;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select{
    width: 100%;
    padding: 1.2rem;
    font-size: 1.8rem;
    border: none;
    font-family: inherit;
    color: inherit;
    border: none;
    background-color: beige;
    border-radius: 9px;
    box-shadow: 0 1px 2px rgba(0, 0, 0,0.1 );
}

.cta-form input::placeholder{
    color: #aaa;

}

.btn--form{
    background-color: #45260a;
    color: #fdf2e9;
    padding: 1.2rem;
    align-self: end;
}

.footer{
    padding: 9.6rem 0rem;
}

.footer-heading{
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 3.2rem;
}

.social-links{
    list-style: none;
    display: flex;
    gap: 2.4rem;
}

.footer-nav{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited{
    text-decoration: none;
    font-size: 1.6rem;
    color: #767676;
    transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active{
    color-interpolation-filters: #555;
}

.social-icon{
    height: 2.4rem;
    width: 2.4rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.copyright{
    font-size: 1.4rem;
    color: #767676;
    line-height: 2;
    margin-top:auto ;
}

.contacts{
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.6;
}